*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
!.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

captcha_images/*
application/config/config.php
application/config/database.php

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
!/vendor/autoload.php
files
files/*.*
publicFiles/foto/*.*
publicfiles/foto/*.*
error_log

application/config/database.php
bower_components/*
captcha_images/*
node_modules
